* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  /* padding: 20px; */
  background-color: #202d36;
  color: white;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  background-color: #2b3743;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: 2px solid #2b3743;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-color: white;
  color: #2b3743;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid .details {
  background-color: #2b3743;
  padding: 20px;
  margin-top: -10px;
  border-radius: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  background-color: #2b3743;
  padding: 10px 20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.filter .form-controll {
  width: 100%;
}

.filter .form-controll input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-controll input::-webkit-input-placeholder {
  color: white;
}

.filter .form-controll input:-ms-input-placeholder {
  color: white;
}

.filter .form-controll input::-ms-input-placeholder {
  color: white;
}

.filter .form-controll input::placeholder {
  color: white;
}

.filter .region-filter {
  width: 100%;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: white;
  font-family: inherit;
  padding: 8px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.title {
  background-color: #2b3743;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: 2px solid #2b3743;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.error {
  margin-top: 20px;
  color: red;
}

.currentregion {
  margin-top: 10px;
  margin-left: 40%;
}

.titlename {
  margin-top: 10px;
}

.countrydata {
  margin-left: 0%;
}

@media (min-width: 425px) {
  .countrydata {
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .btntop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .countrydata {
    margin-left: 30%;
  }
  .btntop {
    margin-left: 20px;
    padding: 3px;
    background-color: #202d36;
    border: none;
  }
  .filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter .form-controll {
    width: auto;
  }
  .filter .region-filter {
    margin-bottom: 30px;
    width: auto;
  }
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .grid, .filter, .header {
    padding: 20px 100px;
  }
  .grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .countrydata {
    margin-left: 35%;
  }
  .currentregion {
    margin-left: 44%;
  }
  .grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35C4F0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */